<!-- SEO метаданные -->
<meta name="description" content="<%= locals.seoDescription || 'Аренда автомобилей в Пятигорске. Большой выбор автомобилей разных классов: премиум, бизнес, комфорт и эконом. Индивидуальные туры и трансферы.' %>">
<meta name="keywords" content="<%= locals.seoKeywords || 'аренда автомобилей, прокат авто, Пятигорск, Кавказ, трансфер, туры, Mercedes, BMW, премиум автомобили' %>">
<meta name="author" content="Carskfo">
<meta name="robots" content="index, follow">
<meta property="og:title" content="<%= locals.seoTitle || 'Аренда автомобилей в Пятигорске | Carskfo' %>">
<meta property="og:description" content="<%= locals.seoDescription || 'Аренда автомобилей в Пятигорске. Большой выбор автомобилей разных классов: премиум, бизнес, комфорт и эконом. Индивидуальные туры и трансферы.' %>">
<meta property="og:image" content="<%= locals.seoImage || '/img/og-image.jpg' %>">
<meta property="og:url" content="<%= locals.seoUrl || 'https://carrentkfo.ru' %>">
<meta property="og:type" content="website">
<title><%= locals.seoTitle || 'Аренда автомобилей в Пятигорске | CarRent KFO' %></title> 